<%= form_for(@professor_schedule) do |f| %>
 
<div class="field">
    <%= f.label :Course_Title %><br>
    <%= f.text_field :Course_Title %>
  </div>
  <div class="field">
    <%= f.label :CRN %><br>
    <%= f.number_field :CRN %>
  </div>





  <div class="field">
    <select class="form-control">
    <%= f.label :meeting_days %><br>
    
   <option> Monday </option>
  <option> Tuesday </option>
  <option> Wednesday</option>
  <option> Thursday</option>
  <option> Friday </option>
</select>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.number_field :time %>
  </div>
  <div class="field">
    <%= f.label :room_num %><br>
    <%= f.number_field :room_num %>
  </div>
  <div class="field">
    <%= f.label :enrollment %><br>
    <%= f.number_field :enrollment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>