<h1>Professor Schedule</h1>

<table class="table table-striped">

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rank</th>
      <th>Department</th>
      <th>Room</th>
      <th>Email</th>
      <th>Ext</th>
      <th>Course title</th>
      <th>Crn</th>
      <th>Meeting days</th>
      <th>Time</th>
      <th>Room num</th>
      <th>Enrollment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professor_schedules.each do |professor_schedule| %>
      <tr>
        <td><%= professor_schedule.name %></td>
        <td><%= professor_schedule.rank %></td>
        <td><%= professor_schedule.department %></td>
        <td><%= professor_schedule.room %></td>
        <td><%= professor_schedule.email %></td>
        <td><%= professor_schedule.ext %></td>
        <td><%= professor_schedule.Course_Title %></td>
        <td><%= professor_schedule.CRN %></td>
        <td><%= professor_schedule.meeting_days %></td>
        <td><%= professor_schedule.time %></td>
        <td><%= professor_schedule.room_num %></td>
        <td><%= professor_schedule.enrollment %></td>
        <td><%= link_to 'Show', professor_schedule %></td>
        <td><%= link_to 'Edit', edit_professor_schedule_path(professor_schedule) %></td>
        <td><%= link_to 'Destroy', professor_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  
<br>

<%= link_to 'New Professor schedule', new_professor_schedule_path %>
