<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @professor_schedule.name %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @professor_schedule.rank %>
</p>

<p>
  <strong>Department:</strong>
  <%= @professor_schedule.department %>
</p>

<p>
  <strong>Room:</strong>
  <%= @professor_schedule.room %>
</p>

<p>
  <strong>Email:</strong>
  <%= @professor_schedule.email %>
</p>

<p>
  <strong>Ext:</strong>
  <%= @professor_schedule.ext %>
</p>

<p>
  <strong>Course title:</strong>
  <%= @professor_schedule.Course_Title %>
</p>

<p>
  <strong>Crn:</strong>
  <%= @professor_schedule.CRN %>
</p>

<p>
  <strong>Meeting days:</strong>
  <%= @professor_schedule.meeting_days %>
</p>

<p>
  <strong>Time:</strong>
  <%= @professor_schedule.time %>
</p>

<p>
  <strong>Room num:</strong>
  <%= @professor_schedule.room_num %>
</p>

<p>
  <strong>Enrollment:</strong>
  <%= @professor_schedule.enrollment %>
</p>

<%= link_to 'Edit', edit_professor_schedule_path(@professor_schedule) %> |
<%= link_to 'Back', professor_schedules_path %>
